{% extends 'base.html' %}
{% block content %}

	<div class="container">
    <span class="margin-top: 20px;"><h1>Contact</h1></span>
    </div>



    <div class="jumbotron">
        <div class="container">
        <h1 class="display-3">Thank you! </h1>
        <p class="lead">We'll Back to you.</p>
        <hr class="my-4">
        <p>It usaually takes 1~2 buisness day to process your inquery.</p>
            <hr class="my-4">
            <p class="lead">


                <button class="btn btn-primary btn-lg" href="{% url 'contact' %}">Thank you!</button>
                <hr class="my-4">
        </p>
    </div>
    </div>

{% endblock %}