<div class="navbar-wrapper">
    <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                  <div class="container">

                      <div class="navbar-collapse collapse col-md-6">
                          <ul class="nav navbar-nav">
                              <li class="active"><a href="{{  index }}">Home</a></li>
                              <li><a href="order">Order</a></li>
                              <li><a href="contact">Contact</a></li>
                          </ul>
                      </div>

                      </ul>
                  </div>
              </div>
          </div>

      </div>
      </div>
