{% extends 'base.html' %}
{% block content %}

	<div class="container">
    <span class="margin-top: 20px;"><h1>GBI DBFINDER</h1></span>
    </div>



    <div class="jumbotron">
        <div class="container">
        <h1 class="display-3">Here is data about {{ tag }}! </h1>
        <p class="lead">SEE THE BELOW DATA</p>
        <hr class="my-4">

            <hr class="my-4">
            <p class="lead">

            <p> HERE IS DATA ABOUT {{ tag }} </p>

            <table class="table-dark table-responsive-lg">
                <tr class=" btn-md-6">
                    <td>Company name : </td>
                    <td>{{ name }}</td>
                </tr>

                <tr>
                    <td>Company address : </td>
                    <td>{{ address }}</td>
                </tr>

                  <tr>
                    <td>Company zipcode : </td>
                    <td>{{ zipcode }}</td>
                </tr>

                  <tr>
                    <td>Company Countrycode : </td>
                    <td>{{ country }}</td>
                </tr>

            </table>

    </div>
    </div>

{% endblock %}

